.price-list {
  position: relative;
  list-style: none;
  margin: auto;
  width: 55%;
  padding: 0px;
  top: 50px;
  padding-bottom: 50px;
}

.price-header {
  color: #ffe648;
  text-align: center;
  padding-top: 20px;
}

@media(max-width: 1400px) {
  .price-list {
    width: 75%;
  }
  .price-list {
    top: 30px;
  }  
}

@media(max-width: 900px) {
  .price-list {
    width: 80%;
  }
  .price-header {
    font-size: 32px;
  }
}

@media(max-width: 800px) {
  .price-list {
    padding-bottom: 20px;
  }
  .price-header {
    padding-top: 20px;
    font-size: 28px;
  }
}