.price-list {
  position: relative;
  list-style: none;
  margin: 0;
  top: 50px;
  margin-left: 200px;
  padding-bottom: 50px;
}

.price-header {
  color: #ffe648;
  text-align: center;
  padding-top: 20px;
}

@media(max-width: 1400px) {
  .price-list {
    margin-left: 50px;
    top: 30px;
  }  
}

@media(max-width: 1000px) {
  .price-header {
    font-size: 32px;
  }
}

@media(max-width: 800px) {
  .price-list {
    margin-left: 10px;
    padding: 0px;
    padding-bottom: 20px;
  }
  .price-header {
    padding-top: 20px;
    font-size: 28px;
  }
}