.nav-item {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

.nav-item:hover {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffe648;
}

.header-button {
  border: none;
  background-color: inherit;
  color: #ffe648;
  font-weight: bold;
}

.telephone,
.telephone:hover,
a {
  position: relative;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

a:hover {
  color: #ffe648;
}

.bi .bi-telephone-fill {
  color: #ffe648;
}
  
.nav {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

@media(max-width: 900px) {
  .desktop {
    display: none;
  }

  .nav {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

@media(min-width: 899px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-item {
    font-size: 15px;
  }
  .nav-item:hover {
    font-size: 15px;
  }
  .telephone,
  .telephone:hover,
  a {
    font-size: 15px;
  }
}