ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
}

li{
    display: inline;
    margin: 20px;
    font: 1.2em "Fira Sans", sans-serif;
    font-size: 25pt;
    color: #EDCB18;
}