.service-list {
  position: relative;
  list-style: none;
  width: 60%;
  top: 20px;
  padding: 0;
  margin: auto;
}

.service-list li {
  display: inline-block;
  margin: 50px;
  text-align: center;
  background-color:  rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: #ffe648;
}

.icon {
  position: relative;
  text-align: center;
  padding: 20px;
}

@media(max-width: 1620px) {
  .service-list {
    width: 1100px;
  }
}

@media(max-width: 1200px) {
  .service-list {
    width: 700px;
  }
}

@media(max-width: 850px) {
  .service-list {
    padding-top: 50px;
    top: 0px;
    width: 90%;
  }

  .service-list li {
    margin: 25px;
  }
  
  .icon {
    padding: 10px;
  }
}

@media(max-width: 600px) {
  .service-list {
    padding-top: 50px;
    top: 0px;
    width: 75%;
  }
}

@media(max-width: 550px) {
  .service-list {
    width: 75%;
    height: 550px;
  }

  .service-list li {
    margin: 12px;
  }
  
  .icon {
    padding: 15px;
    width: 80px;
  }
}

@media(max-width: 400px) {
  .service-list {
    width: 85%;
    height: 500px;
  }
}

@media(max-width: 320px) {
  .service-list {
    width: 94%;
    height: 500px;
  }
}