.service-list {
  position: relative;
  list-style: none;
  width: 1200px;
  left: 19%;
  margin: 0px;
}

.service-list li {
  display: inline-block;
  margin: 50px;
  text-align: center;
  background-color:  rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: #ffe648;
}

.icon {
  position: relative;
  text-align: center;
  padding: 20px;
}

@media(max-width: 1400px) {
  .service-list {
    left: 10%;
    width: 1100px;
  }
}

@media(max-width: 1250px) {
  .service-list {
    width: 900px;
    left: 20%;
  }
}

@media(max-width: 1050px) {
  .service-list {
    width: 700px;
    left: 15%;
    padding: 0px;
  }
}

@media(max-width: 850px) {
  .service-list {
    padding: 0px;
    width: 700px;
    margin: 0px;
    left: 5%;
  }

  .service-list li {
    margin: 25px;
  }
  
  .icon {
    padding: 10px;
  }
}

@media(max-width: 500px) {
  .service-list {
    width: 300px;
    left: 10%;
  }

  .service-list li {
    margin: 12px;
  }
  
  .icon {
    padding: 15px;
    width: 80px;
  }
}