.price {
  padding: 10px;
  text-align: center;
}

.price-block {
  margin: 0px 10px 10px 10px;
  text-align: center;
}

.type {
  color: white;
}

@media(max-width: 975px) {
  .price {
    padding: 5px;
    text-align: center;
    font-size: 20px;
  }
  
  .price-block {
    margin: 0px 10px 10px 10px;
    text-align: center;
  }
  
  .type {
    color: white;
    font-size: 20px;
  }
}

@media(max-width: 750px) {
  
}

@media(max-width: 500px) {
  .price {
    font-size: 20px;
  }
  
  .price-block {
    margin: 0px 5px 5px 5px;
    text-align: center;
  }
  
  .type {
    font-size: 20px;
  }
}


