.prices {
  position: relative;
  list-style: none;
  display: inline;
  float: right;
  left: 30%;
  color: #ffe648;
  padding: 0;
}

.prices li {
  display: inline-block;
}

.item {
  display: inline-block;
  width: 900px;
  height: 150px;
}

.service-description {
  display: block;
  width: 600px;
  font-size: 18px;
  color: #ffe648;
}

.name {
  display: inline-block;
  width: 300px;
  color: white;
  font-weight: bold;
}

@media(max-width: 1250px) {
  .prices {
    left: 0%;
  }
  
  .service-description {
    width: 300px;
  }
}

@media(max-width: 975px) {
  .item {
    width: 690px;
    height: 110px;
  }
  
  .service-description {
    font-size: 13px;
  }
  
  .name {
    width: 300px;
    font-size: 20px;
  }
}

@media (min-width: 750px) {
  .mobile-prices {
    display: none;
  } 
}

@media(max-width: 749px) {
  .desktop-prices {
    display: none;
  }

  .prices {
    display: block;
    float: none;
    text-align: center;
    margin-top: 20px;
    left: 1%;
  } 

  .item {
    display: block;
    height: auto;
    padding: 20px 0px 20px 0px;
  }

  .service-description {
    display: block;
    position: relative;
    font-size: 20px;
    text-align: center;
    width: 650px;
    left: 5%;
  }

  .name {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  } 
}

@media(max-width: 500px) {
  .prices {
    margin-top: 20px;
  } 

  .item {
    width: 375px;
    padding: 15px 0px 15px 0px;
  }

  .service-description {
    left: 2%;
    right: 2%;
    width: 96%;
  }

  .name {
    width: 375px;
    left: 0px;
    text-align: center;
  } 
}