.contacts {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 10%;
  margin-top: 30px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

@media(min-width: 899px) {
  .mobile {
    display: none;
  }
}

.contacts-header {
  color: #ffe648;
  text-align: center;
  margin-top: 20px;
}

.geo, .tel, .tg {
  margin: 10px;
  display: inline-block;
}

@media(max-width: 1400px) {
  .contacts {
    left: 5%;
  }
}

@media(max-width: 1250px) {
  .contacts {
    width: 400px;
  }

  .value{
    width: 20px;
  }
}

@media(max-width: 980px) {
  .contacts {
    left: 5%;
    width: 350px;
  }
}

@media(max-width: 800px) {

}

@media(max-width: 600px) {
  .contacts {
    left: 2%;
    margin-top: 60px;
    width: 250px;
  }
}